body{
    font-family: Gill San;
    font-size: 15px;
    color: #fff;
    font-weight: 400;
}
@font-face {
  font-family: 'Gill San';
  src: url('../css/fonts/GillSansStd.otf');
  font-weight: normal;
  font-style: normal;
}
#header .hea1 {
        background: #0080c9;
        line-height: 40px;
        color: #fff;
        font-size: 14px;
        height: 40px;
}
.hea1 .address_hea1 {
    float: left;
}
.address_hea1 i {
    margin-right: 5px;
}
.ul_social_hea1 {
    float: right;
}
.ul_social_hea1 > li {
    display: inline-block;
    position: relative;
    font-size: 14px;
}
.ul_social_hea1 > li + li {
    margin-left: 17px;
}
.ul_social_hea1 > li > a {
    color: #fff;
}
#header .hea2 {
    background: #fff;
    margin-bottom: 20px;
}
.hea2 .min_wrap {
    height: 60px;
    padding: 10px 0;
    position: relative;
}
.logo {
    display: inline-block;
}
.logo img {
    display: inline-block;
    width: auto;
    height: 60px;
}
.nav_mn {
    position: absolute;
    top: 20px;
    right: 0;
}
.icon_menu_mobile {
    visibility: hidden;
    width: 40px;
    height: 40px;
    background: url(../imgs/layout/menu_mobile.png) no-repeat center;
    position: absolute;
    top: 19px;
    right: 0;
    z-index: 10;
    border: 1px solid #0080c9;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.ul_mn {
    list-style: none;
}
.ul_mn > li {
    float: left;
    position: relative;
    padding: 5px 0;
}
.ul_mn > li.active::before {
    content: "";
    width: 30px;
    height: 3px;
    background: #0080c9;
    position: absolute;
    bottom: -3px;
    left: 0;
}
.ul_mn > li.active > a {
    font-weight: 700;
    color: #0080c9;
}
.ul_mn > li + li {
    margin-left: 15px;
}
.ul_mn > li > a {
    line-height: 30px;
    display: block;
    font-size: 15px;
    text-transform: uppercase;
    color: #000;
    text-decoration: none;
}
.ul_mn > li:hover > ul.mn_child_01 {
    visibility: visible;
    z-index: 100;
    opacity: 1;
    top: 40px;
}
.ul_mn > li > ul.mn_child_01 {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    left: -20px;
    top: 45px;
    background: #0080c9;
    min-width: 180px;
    transition: all .2s ease;
    -moz-transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    z-index: 100;
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    list-style: none;
    padding-left: 0;
}
.ul_mn > li > ul.mn_child_01 > li {
    position: relative;
}
.ul_mn > li > ul.mn_child_01 > li > a {
    color: #fff;
    display: block;
    padding: 7px 20px;
    white-space: nowrap;
    text-transform: capitalize;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}
.ul_mn > li > ul.mn_child_01 > li > ul.mn_child_02 {
    display: none;
    position: absolute;
    top: 0;
    background: #0080c9;
    min-width: 150px;
}
.gt_h {
    background: #fff;
    padding: 50px 0 98px;
}
.gt_h .min_wrap {
    position: relative;
}
.adv_gt_h {
    position: absolute;
    top: 30px;
    left: 0;
    z-index: 1;
    width: 465px;
    height: 310px;
    display: block;
    -webkit-box-shadow: 0 0 9px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 0 9px rgba(0,0,0,0.1);
    box-shadow: 0 0 9px rgba(0,0,0,0.1);
}
.nd_gt_h {
    -webkit-box-shadow: 0 0 9px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 0 9px rgba(0,0,0,0.1);
    box-shadow: 0 0 9px rgba(0,0,0,0.1);
    padding: 20px 20px 20px 215px;
    width: 835px;
    height: 300px;
    margin-left: 270px;
}
.t_gt_h {
    font-size: 24px;
    line-height: 30px;
    color: #0080c9;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 3px;
    margin-bottom: 20px;
}
.t_gt_h::before {
    content: "";
    width: 30px;
    height: 3px;
    background: #0080c9;
    position: absolute;
    bottom: -3px;
    left: 0;
}
.nd_gt_h .f-detail {
    height: 200px;
    overflow-y: auto;
    font-size: 12px;
    line-height: 18px;
    font-style: italic;
}
ol, ul {
    list-style: none;
}
.f-detail ul li {
    list-style: disc;
    margin-left: 20px;
}
.prod_h {
    position: relative;
    padding: 80px 0;
    background: #eee;
    background-image: url(images/bg_prod_h.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.slide::before, .prod_h::before, .ykkh::before, .bg_catalogy::before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 11;
}
.t_prod_h {
    position: relative;
    padding-bottom: 30px;
}
.t_prod_h::before {
    content: "";
    border: 3px solid #0080c9;
    width: 224px;
    height: 44px;
    position: absolute;
    top: 10px;
    left: 23px;
}
.t_prod_h h2 {
    font-size: 24px;
    color: #0080c9;
    background: #fff;
    line-height: 50px;
    padding: 0 50px;
    display: inline-block;
    position: relative;
    z-index: 1;
    -webkit-box-shadow: 0 0 9px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 0 9px rgba(0,0,0,0.1);
    box-shadow: 0 0 9px rgba(0,0,0,0.1);
}
.ul_prod_h {
    padding-left: 0;
}
.ul_prod_h > li {
    float: left;
    width: 23%;
    margin-right: 29px;
}
.ul_prod_h > li:last-child {
    margin-right: 0;
}
.in_prod_h {
    background: #fff;
    border-radius: 70px 0;
    -webkit-box-shadow: 0 0 9px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 0 9px rgba(0,0,0,0.1);
    box-shadow: 0 0 9px rgba(0,0,0,0.1);
    padding: 15px 15px 20px;
}
.in_prod_h figure {
    height: 237px;
}
.in_prod_h figure img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 60px 0;
}
.in_prod_h h3 {
    font-size: 16px;
    color: #393939;
    padding: 15px 0 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.in_prod_h p {
    font-size: 12px;
    font-style: italic;
    color: #393939;
    height: 60px!important;
    overflow: hidden;
    float: none!important;
    padding-bottom: 0!important;
}
.link_prod_h {
    margin-top: 10px;
    display: inline-block;
    line-height: 30px;
    padding: 0 50px;
    text-transform: uppercase;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    background: #0080c9;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 10px 0;
}
.slide::after, .prod_h::after, .ykkh::after, .bg_catalogy::after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 11;
}
.news_h .min_wrap {
    position: relative;
    padding: 66px 0 80px;
    min-height: 365px;
}
.in_news_h {
    background: #fff;
    -webkit-box-shadow: 0 0 9px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 0 9px rgba(0,0,0,0.1);
    box-shadow: 0 0 9px rgba(0,0,0,0.1);
    position: relative;
    width: 487px;
    z-index: 1;
}
.t_news_h {
    background: #0080c9;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 50px;
    padding: 0 20px;
    color: #fff;
    position: relative;
}
.t_news_h::before {
    border-top: 8px solid #0080c9;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    content: "";
    cursor: pointer;
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    bottom: -8px;
    left: 20px;
    z-index: 1;
}
.icon_t_news_h {
    display: inline-block;
    background: url(images/icon_1.png) no-repeat;
    width: 30px;
    height: 28px;
    position: relative;
    top: 6px;
    margin-right: 15px;
}
.m_news_h {
    background: #fff;
    overflow-y: auto;
    padding: 0 20px;
    max-height: 334px;
}
.m_news_h ul {
    padding-left: 0;
    list-style: none;
}
.m_news_h ul li {
    padding: 13px 0 13px 15px;
    background: url(images/icon_2.png) no-repeat left 19px;
}
.m_news_h ul li a {
    color: #393939;
}
.adv_news_h {
    display: block;
    width: 680px;
    height: auto!important;
    position: absolute;
    top: 80px;
    right: 0;
}
.ykkh {
    position: relative;
    background-image: url(images/bg_ykkh.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.mask_ykkh {
    padding: 15px 0;
    position: relative;
}
.mask_ykkh::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.3);
}
#footer {
    background: #0080c9;
    color: #fff;
}
#footer a {
    color: #fff;
}
.foot_1 {
    padding: 25px 0;
    position: relative;
}
.f1_r {
    float: right;
    width: 48%;
    background: #fff;
    -webkit-box-shadow: 0 0 9px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 0 9px rgba(0,0,0,0.1);
    box-shadow: 0 0 9px rgba(0,0,0,0.1);
    padding: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.t_f1_r {
    text-transform: uppercase;
    font-size: 20px;
    color: #0080c9;
    line-height: 31px;
}
.ul_f1_r > li:nth-child(1) {
    width: 48%;
    float: left;
}
.ul_f1_r {
    padding-left: 0;
}
.ipt_f1_r {
    font-family: 'Roboto',Arial,Helvetica,sans-serif;
    background: #fff;
    font-size: 14px;
    color: #b1afaf;
    width: 100%;
    height: 32px;
    padding: 0 20px;
    border: 0;
    -webkit-box-shadow: 0 0 6px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 0 6px rgba(0,0,0,0.1);
    box-shadow: 0 0 6px rgba(0,0,0,0.1);
}
.txt_f1_r {
    font-family: 'Roboto',Arial,Helvetica,sans-serif;
    background: #fff;
    font-size: 14px;
    color: #b1afaf!important;
    width: 100%;
    height: 65px;
    padding: 20px;
    border: 0;
    -webkit-box-shadow: 0 0 6px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 0 6px rgba(0,0,0,0.1);
    box-shadow: 0 0 6px rgba(0,0,0,0.1);
    resize: none;
}
.ul_f1_r > li:nth-child(2) {
    width: 48%;
    float: right;
}
.ul_f1_r > li:nth-child(3) {
    width: 48%;
    float: left;
}
.ul_f1_r > li:nth-child(4) {
    width: 48%;
    float: right;
}
.ul_f1_r > li:nth-child(5) {
    clear: both;
}
.ul_f1_r > li {
    padding-top: 10px;
    position: relative;
}
.img_capcha {
    display: inline-block;
    width: auto;
    height: 32px;
    margin-left: 17px;
}
.btn_f1_r {
    cursor: pointer;
    border: 0;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Roboto',Arial,Helvetica,sans-serif;
    font-size: 14px;
    background: #00aff0;
    width: 168px;
    height: 32px;
    text-align: center;
    float: right;
}
.f1_l {
    float: left;
    width: 48%;
    line-height: 31px;
}
.t_f1_l {
    text-transform: uppercase;
    font-size: 24px;
}
.foot_2 {
    background: #00aff0;
    padding: 15px 0;
    text-align: center;
}
.menu_mobile {
    visibility: hidden;
    background: #555;
    width: 280px;
    height: 100%;
    overflow-y: scroll;
    position: absolute;
    top: 0;
    left: -280px;
    z-index: 9999999;
    font-size: 12px;
    font-family: Arial,Helvetica,sans-serif;
    transition: all .2s;
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
}