body{
	font-family: Gill San;
	font-size: 15px;
	color: #fff;
    font-weight: 400;
}
@font-face {
  font-family: 'Gill San';
  src: url('../css/fonts/GillSansStd.otf');
  font-weight: normal;
  font-style: normal;
}
.login {
	background-image: url("../image/login-bg.jpg");
    background-size: cover;
    background-position: center;
    padding: 50px 128px;
    min-height: calc(100vh);
}
.login .form-login {
    text-align: center;
}
.login .form-login .img-logo {
	margin-bottom: 58px;
    text-align: left;
}
.login .form-login .img-logo img {
	max-width: 253px;
	margin-bottom: 51px;
}
.login span.creat-account {
	position: relative;
    font-size: 19px;
    font-weight: 700;
    left: -100px;
}
/* .login .form-login span:before{
    content: "";
    width: 88px;
    background: #fff;
    height: 2px;
    position: absolute;
    bottom: -12px;
    left: 36px;
} */
.login .form-login form {
 	width: 352px;
    margin: 0 auto;
    text-align: left;
    margin-top: 32px;
}
.login .form-login form input {
    width: 100%;
    height: 64px;
    text-align: left;
    background: transparent;
    color: #fff;
    border: 1px solid transparent;
    border-bottom: 1px solid #fff;
    border-style: ridge;
    outline: none;
    margin-bottom: 16px;
    margin-top: 16px;
}
.login .form-login form input.sign-up {
	background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    text-align: center;
}
.login .form-login form input.sign-up:hover{
    background-color: #f88c37;
    border: 1px solid #f88c37;
	color: #fff;
}
.login .form-login form input.quest {
	background-color: #fff;
	border: 1px solid #fff;
	color: #f88c37;
	margin-top: 48px;
}
.login .form-login form input.quest:hover {
	background-color: #f88c37;
	border: 1px solid #f88c37;
	color: #fff;
}
.login .form-login form input::placeholder {
	color: #fff;
}
.login .form-login .creat-acc {
	margin-top: 20px;
}
.login .form-login .creat-acc a {
	color:#fff ;
}
.login .form-login .creat-acc a:hover {
	color: #fff;
}
.login .form-login form.register label {
    font-size: 14px;
    font-weight: 400;
}
.login .form-login form.register input {
    height: 32px;
    background: #fff;
    margin-top: 0;
}
.login .form-login form.register input.sign-up {
    background: transparent;
}
.login .form-login form.register input.sign-up:hover{
    background: #f88c37;
}
.welcome {
	background-image: url("../image/cilent-welcome-2.jpg");
    background-size: cover;
    background-position: center;
    min-height: calc(100vh);
}
.welcome .form {
    text-align: center;
}
.welcome .form .img-logo {
	margin-bottom: 154px;
    text-align: left;
}
.welcome .form .img-logo img {
    max-width: 253px;
    position: absolute;
    top: 100px;
    left: 190px;
}
.welcome .form form {
 	width: 352px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
}
.welcome .form form input {
    width: 100%;
    height: 64px;
    text-align: center;
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
    border-style: ridge;
    outline: none;
}
.welcome .form form input.sign-up {
	background-color: #f88c37;
	border: 1px solid #f88c37;
}
.welcome .form form input.sign-up:hover{
	background-color: transparent;
	border: 1px solid #fff;
	color: #fff;
}
.selections {
    background-image: url("../image/cilent-welcome.jpg");
    background-size: cover;
    background-position: center;
    min-height: calc(100vh);
    display: flex;
    justify-content: center;
}
.selections .form-selections {
    text-align: center;
}
.selections .form-selections span {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    font-size: 20px;
    margin: 0 auto;
}
.selections .form-selections span:before{
    content: "";
    width: 130px;
    background: #fff;
    height: 2px;
    position: absolute;
    bottom: -12px;
    right: 0;
    left: 0;
    margin: 0 auto;
}
.selections .form-selections .img-logo {
	margin-bottom: 154px;
    text-align: left;
}
.selections .form-selections .img-logo img {
    max-width: 253px;
    position: absolute;
    top: 100px;
    left: 190px;
}
.selections .form-selections form {
	margin-top: 74px;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
}
.selections .form-selections form input {
    width: 352px;
    height: 64px;
    text-align: center;
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
    border-style: ridge;
    outline: none;
    margin-right: 32px;
}
.selections .form-selections form input.sign-up {
	background-color: #f88c37;
	border: 1px solid #f88c37;
}
.selections .form-selections form input.sign-up:hover{
	background-color: transparent;
	border: 1px solid #fff;
	color: #fff;
}
.selections .form-selections form input.quest:hover {
	background-color: #f88c37;
	border: 1px solid #f88c37;
	color: #Fff;
}
.cilent-welcome {
	background-image: url("../image/cilent-welcome-2.jpg");
    background-size: cover;
    background-position: center;
    padding: 50px 128px;
    min-height: calc(100vh);
}
.cilent-welcome .form-login {
    text-align: left;
    padding-top: 58px;
    padding-left: 60px;
    height: 800px;
}
.cilent-welcome .form-login .img-logo img {
    max-width: 253px;
    position: absolute;
    top: 100px;
    left: 190px;
}
.success {
    background: #fff;
    padding: 100px;
    min-height: calc(100vh);
    color: #000;
}
.success .img-logo img {
    float: left;
}
.success-image{
    width: 208px;
    height: 208px;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 0 auto;
}
.success-image .fa{
    color: #fff;
    font-size: 58px;
}
.success .form {
    text-align: center;
}
.success .form .img-logo {
	margin-bottom: 52px;
}
.success .form h4 {
	margin-top: 22px;
	margin-bottom: 19px;
	font-weight: 700;
}
.success .form p {
    width: 55%;
    margin: 0 auto;
    color: #999999;
    font-size: 15px;
}
.cart-page{
    min-height: calc(100vh);
}
.cart-page .top-cart-page .sub-title{
    color: #333333;
    font-size: 24px;
    font-weight: 400;
    margin-top: 27px;
    position: relative;
    padding-bottom: 12px;
    margin-bottom: 90px;
}
.cart-page .title-top-list{
    color: #333333;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 32px;
}
.item-cart .img-item{
    position: relative;
    width: 160px;
    height: 240px;
    overflow: hidden;
}
.item-cart .img-item img{
    width: 100%;
    height: auto;
}
.item-cart .img-item .btn-img{
    position: absolute;
    bottom: 15px;
    display: flex;
    justify-content: center;
    left: 0;
    right: 0;
}
.item-cart .img-item .btn-img div{
    width: 32px;
    height: 32px;
    border: 2px solid #ffffff;
    background-color: #ffffff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #333333;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0 4px;
}
.item-cart h3{
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    height: 48px;
    overflow: hidden;
    margin-top: 10px;
}
.item-cart h3 a{
    color: inherit;
    text-decoration: none;
}
.item-cart .price{
    color: #fa8124;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 5px;
}
.item-cart .info {
    color: #000;
    font-size: 14px;
}
.item-cart .info .list-info {
    list-style: none;
    padding-left: 0;
}
.item-cart .quantity{
    color: #333333;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}
.summary{
    border: 1px solid #e8eaee;
    background-color: #ffffff;
    padding: 33px 32px;
}
.summary .price-sub{
    display: inline-block;
    width: 100%;
}
.summary .sub-total{
    color: #333333;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 18px;
}
.summary .sub-total span{
    font-weight: 500;
    color: #333333;
    float: right;
}
.summary .total{
    color: #333333;
    font-size: 15px;
    font-weight: 400;
}
.summary .total span{
    float: right;
    color: #333333;
}
.top-payment{
    background: #000;
    padding: 14px 0;
}
.top-icon{
    display: flex;
    align-items: center;
    float: left;

}
.top-icon span{
    margin-left: 15px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
}
.top-icon a{
    color: inherit;
    text-decoration: none;

}
.top-icon a:hover{
    color: inherit;
    text-decoration: none;
}
.payment{
    min-height: calc(100vh);
    background: #fff;
}
.top-payment-page{
    padding-top: 62px;
}
.top-payment-page .sub-title{
    color: #333333;
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
    position: relative;
    padding-bottom: 12px;
    margin-bottom: 45px;
}
.top-payment-page .sub-title:before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 96px;
    height: 2px;
    background-color: #333333;
}
.chose-payment .order-payment{
    display: inline-block;
    width: 100%;
    color: #333333;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 60px;
}
.chose-payment .order-payment span{
    float: right;
}
.chose-payment .item{
    height: 208px;
    background-color: #ffffff;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.chose-payment .item div{
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    margin-top: 53px;
}
.chose-payment .payment-item{
    border: 2px solid #e8eaee;
}

.chose-payment input[type=radio]:checked + .payment-item,
.chose-payment .payment-item:hover,
.chose-payment input[type=radio]:active + .payment-item{
    border: 2px solid #f88c37;
}

.chose-payment label{
    width: 100%;
    cursor: pointer;
}
.chose-payment input[type=radio]{
    display: none;
}
.chose-payment input[type='submit']{
    display: inline-block;
    outline: none;
    border: 1px solid #f88c37;
    color:#f88c37;
    background-color: transparent;
    font-size: 18px;
    font-weight: 500;
    padding: 19px 90px 19px 90px;
    margin-top: 16px;
}
.chose-payment input[type='submit']:hover{
    background-color: #f88c37;
    border: 1px solid #f88c37;
    color:#fff;
}
.top-payment .cancel{
    width: 88px;
    height: 36px;
    background: #ffffff;
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.payment-cart input[type='submit']{
    padding: 10px 0;
    width: 100%;
    font-size: 16px;
}
.payment-cart{
    padding-top: 64px;
}
.cart-cashier{
    border: 1px solid #e8eaee;
    background-color: #ffffff;
}
.cart-cashier .item-cart-cashier{
    display: flex;
    width: 100%;
    box-shadow: inset 0 -1px 0 #e8eaee;
    padding:24px 30px;
    position: relative;
}
.cart-cashier .item-cart-cashier:last-child{
    box-shadow: none;
}
.cart-cashier .item-cart-cashier .img-item{
    min-width: 104px;
    max-width: 104px;
    height: 152px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cart-cashier .item-cart-cashier .img-item img{
    width: 100%;
    height: auto;
}
.cart-cashier .item-cart-cashier .content-item{
    margin-left: 20px;
}
.cart-cashier .item-cart-cashier   h3{
    color: #333333;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    margin: 0 0 10px 0;
}
.cart-cashier .item-cart-cashier h3 a{
    color: inherit;
    text-decoration: none;
}
.cart-cashier .item-cart-cashier .info {
    color: #000;
    font-size: 13px;
}
.cart-cashier .item-cart-cashier .info .list-info {
    list-style: none;
    padding-left: 0;
}
.cart-cashier .item-cart-cashier .price{
    color: #fa8124;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 15px;
}
.cart-cashier .item-cart-cashier .btn-img{
    display: flex;
    margin-bottom: 15px;
}
.cart-cashier .item-cart-cashier .btn-img div{
    width: 32px;
    height: 32px;
    border: 1px solid #e8eaee;
    background-color: #ffffff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #333333;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0 4px;
}
.cart-cashier .item-cart-cashier .quantity{
    color: #999999;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}
.cart-cashier .quantity{
    display: flex;
    width: 136px;
    border: 1px solid #e8eaee;
    background-color: #ffffff;
}
.cart-cashier .quantity .btn-quan{
    cursor: pointer;
    color: #000;
    font-weight: 700;
    min-width: 40px;
    height: 32px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart-cashier .quantity .add{
    border-left: 1px solid #e8eaee;
    border-right: 1px solid #e8eaee;
}
.cart-cashier .quantity .minus{
    border-right: 1px solid #e8eaee;
}
.cart-cashier .quantity .qty{
    border: 0;
    outline: none;
    width: 55px;
    text-align: center;
    color: #333333;
}
.item-cart-cashier .delete{
    position: absolute;
    right: 30px;
    bottom: 30px;
}
.voucher{
    display: flex;
    border: 1px solid #e8eaee;
    float: right;
    height: 42px;
}
.voucher .form-control{
    height: 40px;
    border: 0;
    background-color: #ffffff;
    outline: none;
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    width: 73%;
    box-shadow: none;
}
.voucher button{
    min-width: 86px;
    height: 40px;
    background-color: #b7cbd8;;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    outline: none;
    text-transform: uppercase;
}