body{
    font-family: Gill San;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
@font-face {
  font-family: 'Gill San';
  src: url('../css/fonts/GillSansStd.otf');
  font-weight: normal;
  font-style: normal;
}
#header .header-top {
    background: #0080c9;
    line-height: 40px;
    color: #fff;
    font-size: 14px;
    height: 40px;
}
.header-top .address_header-1 {
    float: left;
}
.address_header-1 i {
    margin-right: 5px;
}
.navbar-light .navbar-nav .nav-link {
    line-height: 30px;
    display: block;
    font-size: 15px;
    text-transform: uppercase;
    color: #000;
    text-decoration: none;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    font-weight: 700;
    color: #0080c9!important;
}
.navbar-nav .nav-item {
    position: relative;
}
.navbar-nav .active::before {
    content: "";
    width: 30px;
    height: 3px;
    background: #0080c9;
    position: absolute;
    bottom: -3px;
    left: 8px;
}
#header .hea2 {
    background: #fff;
}
.hea2 .min_wrap {
    padding: 10px 0;
    position: relative;
}
.hea2 .navbar {
    padding: 0;
}
.logo {
    display: inline-block;
}
.logo img {
    display: inline-block;
    width: auto;
    height: 60px;
}
.nav_mn {
    position: absolute;
    top: 20px;
    left: 270px;
}
.icon_menu_mobile {
    visibility: hidden;
    width: 40px;
    height: 40px;
    background: url(../imgs/layout/menu_mobile.png) no-repeat center;
    position: absolute;
    top: 19px;
    right: 0;
    z-index: 10;
    border: 1px solid #0080c9;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.ul_mn {
    list-style: none;
}
.ul_mn > li {
    float: left;
    position: relative;
    padding: 5px 0;
}
.ul_mn > li.active::before {
    content: "";
    width: 30px;
    height: 3px;
    background: #0080c9;
    position: absolute;
    bottom: -3px;
    left: 0;
}
.ul_mn > li.active > a {
    font-weight: 700;
    color: #0080c9;
}
.ul_mn > li + li {
    margin-left: 15px;
}
.ul_mn > li > a {
    line-height: 30px;
    display: block;
    font-size: 15px;
    text-transform: uppercase;
    color: #000;
    text-decoration: none;
}
.ul_mn > li:hover > ul.mn_child_01 {
    visibility: visible;
    z-index: 100;
    opacity: 1;
    top: 40px;
}
.ul_mn > li > ul.mn_child_01 {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    left: -20px;
    top: 45px;
    background: #0080c9;
    min-width: 180px;
    transition: all .2s ease;
    -moz-transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    z-index: 100;
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    list-style: none;
    padding-left: 0;
}
.ul_mn > li > ul.mn_child_01 > li {
    position: relative;
}
.ul_mn > li > ul.mn_child_01 > li > a {
    color: #fff;
    display: block;
    padding: 7px 20px;
    white-space: nowrap;
    text-transform: capitalize;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}
.ul_mn > li > ul.mn_child_01 > li > ul.mn_child_02 {
    display: none;
    position: absolute;
    top: 0;
    background: #0080c9;
    min-width: 150px;
}
.gt_h {
    background: #fff;
    padding: 50px 0 98px;
}
.gt_h .min_wrap {
    position: relative;
}
.adv_gt_h {
    position: absolute;
    top: 30px;
    left: 0;
    z-index: 1;
    width: 465px;
    height: 310px;
    display: block;
    -webkit-box-shadow: 0 0 9px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 0 9px rgba(0,0,0,0.1);
    box-shadow: 0 0 9px rgba(0,0,0,0.1);
}
.nd_gt_h {
    -webkit-box-shadow: 0 0 9px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 0 9px rgba(0,0,0,0.1);
    box-shadow: 0 0 9px rgba(0,0,0,0.1);
    padding: 20px 20px 20px 215px;
    width: 835px;
    height: 300px;
    margin-left: 270px;
}
.t_gt_h {
    font-size: 24px;
    line-height: 30px;
    color: #0080c9;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 3px;
    margin-bottom: 20px;
}
.t_gt_h::before {
    content: "";
    width: 30px;
    height: 3px;
    background: #0080c9;
    position: absolute;
    bottom: -3px;
    left: 0;
}
.nd_gt_h .f-detail {
    height: 200px;
    overflow-y: auto;
    font-size: 12px;
    line-height: 18px;
    font-style: italic;
}
ol, ul {
    list-style: none;
}
.f-detail ul li {
    list-style: disc;
    margin-left: 20px;
}
.prod_h {
    position: relative;
    padding: 80px 0;
    background: #eee;
    background-image: url(images/bg_prod_h.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.slide::before, .prod_h::before, .ykkh::before, .bg_catalogy::before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 11;
}
.t_prod_h {
    position: relative;
    padding-bottom: 30px;
}
.t_prod_h::before {
    content: "";
    border: 3px solid #0080c9;
    width: 224px;
    height: 44px;
    position: absolute;
    top: 10px;
    left: 23px;
}
.t_prod_h h2 {
    font-size: 24px;
    color: #0080c9;
    background: #fff;
    line-height: 50px;
    padding: 0 50px;
    display: inline-block;
    position: relative;
    z-index: 1;
    -webkit-box-shadow: 0 0 9px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 0 9px rgba(0,0,0,0.1);
    box-shadow: 0 0 9px rgba(0,0,0,0.1);
}
.list-item .item {
    background: #fff;
    border-radius: 70px 0;
    -webkit-box-shadow: 0 0 9px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 0 9px rgba(0,0,0,0.1);
    box-shadow: 0 0 9px rgba(0,0,0,0.1);
    padding: 15px 15px 20px;
}
.item .image img {
    display: block;
    width: 100%;
    height: 237px;
    border-radius: 60px 0;
}
.item .description h3 {
    font-size: 16px;
    color: #393939;
    padding: 15px 0 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.item .description p {
    font-size: 12px;
    font-style: italic;
    color: #393939;
    height: 90px!important;
    overflow: hidden;
    float: none!important;
    padding-bottom: 0!important;
}
.ul_prod_h {
    padding-left: 0;
}
.ul_prod_h > li {
    float: left;
    width: 23%;
    margin-right: 29px;
}
.ul_prod_h > li:last-child {
    margin-right: 0;
}
.in_prod_h {
    background: #fff;
    border-radius: 70px 0;
    -webkit-box-shadow: 0 0 9px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 0 9px rgba(0,0,0,0.1);
    box-shadow: 0 0 9px rgba(0,0,0,0.1);
    padding: 15px 15px 20px;
}
.in_prod_h figure {
    height: 237px;
}
.in_prod_h figure img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 60px 0;
}
.in_prod_h h3 {
    font-size: 16px;
    color: #393939;
    padding: 15px 0 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.in_prod_h p {
    font-size: 12px;
    font-style: italic;
    color: #393939;
    height: 90px!important;
    overflow: hidden;
    float: none!important;
    padding-bottom: 0!important;
}
.link_prod_h {
    margin-top: 10px;
    display: inline-block;
    line-height: 30px;
    padding: 0 50px;
    text-transform: uppercase;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    background: #0080c9;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 10px 0;
}
.slide::after, .prod_h::after, .ykkh::after, .bg_catalogy::after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 11;
}
.news_h .min_wrap {
    position: relative;
    padding: 66px 0 80px;
    min-height: 365px;
}
.in_news_h {
    background: #fff;
    -webkit-box-shadow: 0 0 9px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 0 9px rgba(0,0,0,0.1);
    box-shadow: 0 0 9px rgba(0,0,0,0.1);
    position: relative;
    width: 487px;
    z-index: 1;
}
.t_news_h {
    background: #0080c9;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 50px;
    padding: 0 20px;
    color: #fff;
    position: relative;
}
.t_news_h::before {
    border-top: 8px solid #0080c9;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    content: "";
    cursor: pointer;
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    bottom: -8px;
    left: 20px;
    z-index: 1;
}
.icon_t_news_h {
    display: inline-block;
    background: url(images/icon_1.png) no-repeat;
    width: 30px;
    height: 28px;
    position: relative;
    top: 6px;
    margin-right: 15px;
}
.m_news_h {
    background: #fff;
    overflow-y: auto;
    padding: 0 20px;
    max-height: 334px;
}
.m_news_h ul {
    padding-left: 0;
    list-style: none;
}
.m_news_h ul li {
    padding: 13px 0 13px 15px;
    background: url(images/icon_2.png) no-repeat left 19px;
}
.m_news_h ul li a {
    color: #393939;
}
.adv_news_h {
    display: block;
    width: 680px;
    height: auto!important;
    position: absolute;
    top: 80px;
    right: 0;
}
.ykkh {
    position: relative;
    background-image: url(images/bg_ykkh.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.mask_ykkh {
    padding: 15px 0;
    position: relative;
}
.mask_ykkh::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.3);
}
#footer {
    background: #0080c9;
    color: #fff;
}
#footer a {
    color: #fff;
}
.foot_1 {
    padding: 25px 0;
    position: relative;
}
.f1_r {
    float: right;
    width: 48%;
    background: #fff;
    -webkit-box-shadow: 0 0 9px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 0 9px rgba(0,0,0,0.1);
    box-shadow: 0 0 9px rgba(0,0,0,0.1);
    padding: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.t_f1_r {
    text-transform: uppercase;
    font-size: 20px;
    color: #0080c9;
    line-height: 31px;
}
.ul_f1_r > li:nth-child(1) {
    width: 48%;
    float: left;
}
.ul_f1_r {
    padding-left: 0;
}
.ipt_f1_r {
    font-family: 'Roboto',Arial,Helvetica,sans-serif;
    background: #fff;
    font-size: 14px;
    color: #b1afaf;
    width: 100%;
    height: 32px;
    padding: 0 20px;
    border: 0;
    -webkit-box-shadow: 0 0 6px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 0 6px rgba(0,0,0,0.1);
    box-shadow: 0 0 6px rgba(0,0,0,0.1);
}
.txt_f1_r {
    font-family: 'Roboto',Arial,Helvetica,sans-serif;
    background: #fff;
    font-size: 14px;
    color: #b1afaf!important;
    width: 100%;
    height: 65px;
    padding: 20px;
    border: 0;
    -webkit-box-shadow: 0 0 6px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 0 6px rgba(0,0,0,0.1);
    box-shadow: 0 0 6px rgba(0,0,0,0.1);
    resize: none;
}
.ul_f1_r > li:nth-child(2) {
    width: 48%;
    float: right;
}
.ul_f1_r > li:nth-child(3) {
    width: 48%;
    float: left;
}
.ul_f1_r > li:nth-child(4) {
    width: 48%;
    float: right;
}
.ul_f1_r > li:nth-child(5) {
    clear: both;
}
.ul_f1_r > li {
    padding-top: 10px;
    position: relative;
}
.img_capcha {
    display: inline-block;
    width: auto;
    height: 32px;
    margin-left: 17px;
}
.btn_f1_r {
    cursor: pointer;
    border: 0;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Roboto',Arial,Helvetica,sans-serif;
    font-size: 14px;
    background: #00aff0;
    width: 168px;
    height: 32px;
    text-align: center;
    float: right;
}
.f1_l {
    float: left;
    width: 48%;
    line-height: 31px;
}
.t_f1_l {
    text-transform: uppercase;
    font-size: 24px;
}
.foot_2 {
    background: #00aff0;
    padding: 15px 0;
    text-align: center;
}
.menu_mobile {
    visibility: hidden;
    background: #555;
    width: 280px;
    height: 100%;
    overflow-y: scroll;
    position: absolute;
    top: 0;
    left: -280px;
    z-index: 9999999;
    font-size: 12px;
    font-family: Arial,Helvetica,sans-serif;
    transition: all .2s;
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
}
.full-works, .all-work, .work-box {
    background: #f5f5f5;
}
.full-width {
    width: 100%;
    display: inline-block;
    margin: auto;
}
.all-work {
    padding: 20px 0px 50px 0px;
}
.full-width h2 {
    font-size: 38px;
    line-height: 40px;
    padding: 0 0 40px 0;
    text-transform: uppercase;
    color: #454545;
    font-weight: normal;
    text-align: center;
}
.all-work .work-item {
    width: 20%;
    float: left;
    margin: 0px 2.5%;
    text-align: center;
    position: relative;
    cursor: pointer;
}
.all-work .work-item p img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    transition: all 0.4s ease;
}
.all-work .work-item:hover p img {
    transform: rotatey(360deg);
    transition: all 0.5s ease;
}
.all-work .work-item h6 {
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    margin: 0;
    padding: 5px 0px;
    color: #009cdc;
    text-transform: capitalize;
}
.all-work .work-item h4 {
    font-size: 22px;
    line-height: 28px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    color: #454545;
    margin-bottom: 10px;
    transition: all 0.4s ease;
}
.all-work .work-item:hover h4 {
    margin-top: 19px;
    margin-bottom: -10px;
    transition: all 0.4s ease;
}
.all-work .work-item::after {
    content: '';
    width: 120px;
    height: 100px;
    position: absolute;
    right: -37%;
    top: 40px;
    background: url(images/step-arrow1.png) no-repeat;
    background-size: auto auto;
    background-size: cover;
}
.bg_catalogy {
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.breacrum_catalogy {
    position: relative;
    z-index: 2;
    top: 80px;
}
.bg_catalogy .min_wrap {
    height: 220px;
}
.bg_catalogy .min_wrap::before {
    content: "";
    background: rgba(0,159,184,0.6);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}
.breacrum_catalogy > li:first-child {
    padding-left: 0;
    border-right: 2px solid #fff;
}
.breacrum_catalogy > li > a {
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    display: block;
}
.fa-home:before {
    content: "\f015";
}
.breacrum_catalogy > li {
    float: left;
    line-height: 56px;
    font-size: 18px;
    padding: 0 10px;
}
.f-detail img, .f-detail div, .f-detail table, .f-detail h1, .f-detail h2, .f-detail h3, .f-detail h4, .f-detail h5, .f-detail h6, .f-detail p, .f-detail strong, .f-ndct em {
    max-width: 100%!important;
}
.f-detail img {
    padding: 5px 0;
    max-width: 100%!important;
    height: auto!important;
}
.f-detail ul li {
    list-style: disc;
    margin-left: 20px;
}
::marker {
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
}
.fb_iframe_widget {
    display: inline-block;
    position: relative;
}
.fb_iframe_widget span {
    display: inline-block;
    position: relative;
    text-align: justify;
}
.fb_iframe_widget iframe {
    position: absolute;
}
.wrap_min {
    padding: 50px 0;
}
.maps_ct {
    position: relative;
    height: 400px;
}
.mask_map {
    background: rgba(255,255,255,0);
    z-index: 2;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.maps_ct iframe {
    width: 100%!important;
    height: 100%!important;
}
.fc_1 {
    float: left;
    width: 48%;
}
.t_fc_1 {
    padding-bottom: 10px;
    color: #333;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
}
.ul_m_fc_1 > li {
    padding: 5px 0;
    overflow: hidden;
}
.ul_m_fc_1 > li i {
    font-size: 14px;
    margin-right: 10px;
    float: left;
    text-align: center;
    width: 30px;
    height: 30px;
    line-height: 30px;
    background: #f9f9f9;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: relative;
    top: -4px;
}
.fa-map-marker:before {
    content: "\f041";
}
.m_fc_1 a {
    color: #000;
}
.m_fc_1 a:hover {
    text-decoration: underline;
}
.fc_2 {
    float: right;
    width: 48%;
}
.ul_ct > li {
    margin-bottom: 15px;
}
.box-sizing-fix {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.ipt_ct {
    border: 1px solid #ddd;
    width: 100%;
    height: 34px;
    padding: 0 10px;
    color: #777;
}
.btn_ct {
    cursor: pointer;
    background: #0080c9;
    color: #fff;
    text-transform: uppercase;
    padding: 15px 30px;
    border: 0;
    font-weight: 700;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.txt_ct {
    border: 1px solid #ddd;
    width: 100%;
    min-height: 100px;
    padding: 10px;
    color: #777;
    resize: vertical;
}
.f_contact {
    padding: 20px 0 0;
}
.ul_ct {
    padding-left: 0;
}